div.scroll {
    margin:4px, 4px;
    padding:4px;
    width: 100%;
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
}

.skill-add-card{
    width:55%;
    margin: 10% 0 0 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.skill-label-heading{
    display: inline-block;
}

.choose-skills{
  text-align: center;
}

.tap{
    margin-bottom: 30px;
}

.candidate-skills{
    cursor:pointer;
}

.select{
    size: 3;
}